<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685186338765-esn2oi10vugg7rpcbbjtuvi3euddclge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685186338765-esn2oi10vugg7rpcbbjtuvi3euddclge</string>
	<key>API_KEY</key>
	<string>AIzaSyBBGFRmm39aUc4nYervYq5fZ8FvQ17w2j8</string>
	<key>GCM_SENDER_ID</key>
	<string>685186338765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseApp</string>
	<key>PROJECT_ID</key>
	<string>rentacar-68f1e</string>
	<key>STORAGE_BUCKET</key>
	<string>rentacar-68f1e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685186338765:ios:dce3eda0561f5a27a6fe84</string>
</dict>
</plist>